@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #1c2332;
  font-family: "Montserrat", sans-serif;
}

.underscore {
  position: absolute;
  top: 87px;
  left: 660px;
  height: 2px;
  width: 220px;
  background-color: #787bff;
}

.underscore2 {
  position: absolute;
  top: 570px;
  left: 0px;
  height: 2px;
  width: 1536px;
  background-color: #787bff;
}

.dot1 {
  position: absolute;
  top: 55px;
  left: 670px;
  height: 6px;
  width: 6px;
  background-color: #787bff;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  position: absolute;
  top: 55px;
  left: 859px;
  height: 6px;
  width: 6px;
  background-color: #787bff;
  border-radius: 50%;
  display: inline-block;
}

.rubrik {
  position: absolute;
  top: 5%;
  left: 690px;
  color: #f6f4e6;
}

.tb a {
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  top: 88%;
  left: 720px;
  color: #f6f4e6;
  font-size: 1.21em;
}

.navMenu {
  position: absolute;
  top: 45%;
  left: 760px;
  transform: translate(-50%, -50%);
  text-align-last: center;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  display:inline-table;
  width: 800px;
  transition: all 0.75s ease-in-out;
}

.navMenu a:hover {
  color: #787bff;
}

.tb a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  display:inline-table;
  width: 800px;
  transition: all 0.75s ease-in-out;
}

.tb a:hover {
  color: #787bff;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	background: #1c2332;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.content {
	position: relative;
}

.content h2 {
	color: #fff;
	font-size: 4em;
	position: absolute;
	transform: translate(-50%, -460%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 1px #fff;
}

.content h2:nth-child(2) {
	color: #fff;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}